    <section class="main row">
        <article class="col-xs-12 col-sm-3 col-md-3  col-lg-3">
            <div>
                <md-content class="md-padding">
                    <div id="popupContainer">
                        <md-content ng-cloak="ng-cloak" class="login-form">
                            <md-card flex="flex">
                                <md-toolbar>
                                    <div class="md-toolbar-tools">
                                        <h2><span>Nuevo Equipo</span></h2>
                                    </div>
                                </md-toolbar>
                                <md-card-content>
                                    <form name="Form">
                                        <md-input-container class="md-block">
                                            <label>Materia</label>
                                            <md-select ng-model="Materias" placeholder="{{}}">
                                                <md-option ng-click="changeValueMateriaEq(materias.id,0)" ng-selected="{{materias.id == Materias}}" ng-value="{{materias.id}}" ng-repeat="materias in $listMateria" >{{materias.nombre}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-button ng-disabled="!Form.$valid" ng-click="submitNewEq()" class="md-raised md-primary">Insertar Equipo</md-button>
                                    </form>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </div>
                </md-content>
            </div>
        </article>
                <article class="col-xs-12 col-sm-9 col-md-9  col-lg-9">
            <div>
                <md-content class="md-padding">
                    <div id="popupContainer">
                        <md-content ng-cloak="ng-cloak" class="login-form">
                            <md-card flex="flex">
                                <md-toolbar>
                                    <div class="md-toolbar-tools">
                                        <h2><span>Integrantes</span></h2>
                                    </div>
                                </md-toolbar>
                                <md-card-content>
                                    <form name="Form">
                                        <md-input-container style="width:40%">
                                            <label>Alumnos</label>
                                            <md-select ng-model="AlumnosEq" placeholder="{{}}">
                                                <md-option ng-click="changeValueAlumno(alumnoseq.nombre,alumnoseq.apellido1,alumnoseq.apellido2,alumnoseq.id)" ng-selected="{{alumnoseq.id == AlumnosEq}}" ng-value="{{alumnoseq.id}}" ng-repeat="alumnoseq in $listAlumnoByEq" >{{alumnoseq.id}}</md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container style="width:55%">
                                            <md-list>
                                                <!--<md-subheader class="md-no-sticky"><h1>Materias</h1></md-subheader>-->
                                                <md-list-item class="md-2-line">
                                                    <div class="md-list-item-text" layout="row">
                                                        <span flex="">Nombre</span>
                                                    </div>
                                                    <ng-md-icon icon="list" aria-label="Lista" class="md-secondary md-hue-3"></ng-md-icon>
                                                </md-list-item>
                                                <md-list-item ng-repeat="prd in listAlumn" class="md-2-line">
                                                    <div class="md-list-item-text" layout="row">
                                                        <span flex="">{{ prd.nombre }}</span>
                                                        <span flex="">{{ prd.apellido1 }}</span>
                                                        <span flex="">{{ prd.apellido2 }}</span>
                                                    </div>
                                                    <ng-md-icon icon="delete" ng-click="deleteAlumnEq(prd.id, prd.nomnre, prd.apellido1, prd.apellido2, $event)" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
                                                </md-list-item>
                                            </md-list>
                                        </md-input-container>
                                        <md-button ng-disabled="!Form.$valid" ng-click="submitAlumnEq()" class="md-raised md-primary">Agregar</md-button>
                                    </form>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </div>
                </md-content>
            </div>
        </article>
        <article class="col-xs-12 col-sm-12 col-md-12  col-lg-12">
            <div>
                <md-content class="md-padding">
                    <md-list>
                        <!--<md-subheader class="md-no-sticky"><h1>Materias</h1></md-subheader>-->
                        <md-list-item class="md-2-line">
                            <div class="md-list-item-text" layout="row">
                                <span flex=""><h2>Equipo</h2></span>
                                <span flex=""><h2>Materia</h2></span>
                                <span flex=""><h2>Cuenta</h2></span>
                            </div>
                            <ng-md-icon icon="list" aria-label="Lista" class="md-secondary md-hue-3"></ng-md-icon>
                        </md-list-item>
                        <md-list-item ng-repeat="prd in $listEquipos" ng-click="goToArticulo(prd.id, $event)" class="md-2-line">
                            <div class="md-list-item-text" layout="row">
                                <span flex="">{{ prd.equipo_id }}</span>
                                <span flex="">{{ prd.materia_nombre }}</span>
                                <span flex="">{{ prd.id }}</span>
                            </div>
                            <ng-md-icon icon="delete" ng-click="deleteAlEq(prd.id, prd.equipo_id,$event)" aria-label="Eliminar" class="md-secondary md-hue-3"></ng-md-icon>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
        </article>
    </section>